{
  "extends": [
    "@readme/eslint-config",
    "@readme/eslint-config/typescript",
    "@readme/eslint-config/testing/jest"
  ],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-use-before-define": "off",

    "camelcase": "off",
    "class-methods-use-this": "off",
    "default-case": "off",
    "max-classes-per-file": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": ["error", { "allow": ["_boundary"] }],
    "spaced-comment": "off",

    "unicorn/prefer-node-protocol": "error"
  },
  "env": {
    "browser": true
  }
}
