{
  "extends": [
    "@readme/eslint-config",
    "@readme/eslint-config/esm",
    "@readme/eslint-config/typescript",
    "@readme/eslint-config/testing/vitest"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-use-before-define": "off",

    "camelcase": "off",
    "class-methods-use-this": "off",
    "default-case": "off",
    "max-classes-per-file": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": ["error", { "allow": ["_boundary"] }],
    "spaced-comment": "off",

    "unicorn/prefer-node-protocol": "error",

    "vitest/require-hook": [
      "error",
      {
        "allowedFunctionCalls": ["runCustomFixtures"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/fixtures/**"],
      "rules": {
        "import/no-commonjs": "off"
      }
    }
  ],
  "env": {
    "browser": true
  }
}
